/**
 * Cleanup the admin interface
 */
/*** ADMIN MENU ***/
/* Hide Admin Menu */
#adminmenumain {
  display: none; }

#wpcontent, #wpfooter {
  margin-left: 0; }

/*** TOOLBAR ***/
/* Hide all menu items except for manager links */
#wpadminbar li {
  display: none; }
  #wpadminbar li.manager {
    display: block; }

/* Add icons */
#wpadminbar li#wp-admin-bar-home a::before, #wpadminbar li#wp-admin-bar-view a::before {
  content: "\f319";
  top: 2px; }
#wpadminbar li#wp-admin-bar-sliders a::before {
  content: "\f128";
  top: 2px; }
#wpadminbar li#wp-admin-bar-users a::before {
  content: "\f338";
  top: 2px; }
#wpadminbar li#wp-admin-bar-edit_documents a::before {
  content: "\f464";
  top: 2px; }
#wpadminbar li#wp-admin-bar-view_documents a::before {
  content: "\f497";
  top: 2px; }

/*** GENERAL ***/
/* Hide meta links (Options, Help) */
#screen-meta-links {
  display: none; }

/* Hide footer */
#wpfooter {
  display: none; }

#wpbody-content {
  padding-bottom: 0; }

/*** USERS LIST ***/
/* Hide stuff */
.users-php .subsubsub,
.users-php .actions,
.users-php .check-column {
  /* Row actions */
  display: none; }

/*** SINGLE USER PAGE ***/
/* Hide fields */
#your-profile h2,
#your-profile tr.user-rich-editing-wrap,
#your-profile tr.user-admin-color-wrap,
#your-profile tr.user-comment-shortcuts-wrap,
#your-profile tr.user-admin-bar-front-wrap,
#your-profile tr.user-display-name-wrap,
#your-profile tr.user-url-wrap,
#your-profile tr.user-description-wrap,
#your-profile tr.user-profile-picture,
#your-profile tr.user-sessions-wrap {
  display: none; }

/*** DOCUMENTS LIST ***/
.edit-php {
  /* Hide stuff */ }
  .edit-php .subsubsub,
  .edit-php .bulkactions,
  .edit-php #filter-by-date,
  .edit-php .check-column,
  .edit-php .row-actions {
    /* Row actions */
    display: none; }
  .edit-php.post-type-document table.wp-list-table.fixed {
    table-layout: auto; }

/*** EDIT / NEW DOCUMENT PAGE ***/
.post-new-php,
.post-php {
  /* Hide Add New */
  /* Hide slug */
  /* Hide publishing options */
  /* Hide taxonomy meta box elements */
  /* Style Attachments plugin meta box */ }
  .post-new-php .page-title-action,
  .post-php .page-title-action {
    display: none; }
  .post-new-php #edit-slug-box,
  .post-php #edit-slug-box {
    display: none !important; }
  .post-new-php form#post #submitdiv #minor-publishing,
  .post-php form#post #submitdiv #minor-publishing {
    display: none; }
  .post-new-php #eventbox #event-tabs,
  .post-new-php #eventbox #newevent_parent,
  .post-php #eventbox #event-tabs,
  .post-php #eventbox #newevent_parent {
    /* Parent */
    display: none; }
  .post-new-php #eventbox .categorydiv div.tabs-panel,
  .post-php #eventbox .categorydiv div.tabs-panel {
    border: none;
    padding: 0;
    background-color: transparent; }
  .post-new-php #eventbox .categorydiv div.tabs-panel #eventchecklist,
  .post-php #eventbox .categorydiv div.tabs-panel #eventchecklist {
    margin: 0; }
  .post-new-php #companydiv #company-tabs,
  .post-new-php #companydiv #newcompany_parent,
  .post-php #companydiv #company-tabs,
  .post-php #companydiv #newcompany_parent {
    /* Parent */
    display: none; }
  .post-new-php #companydiv .categorydiv div.tabs-panel,
  .post-php #companydiv .categorydiv div.tabs-panel {
    border: none;
    padding: 0;
    background-color: transparent; }
  .post-new-php #companydiv .categorydiv div.tabs-panel #companychecklist,
  .post-php #companydiv .categorydiv div.tabs-panel #companychecklist {
    margin: 0; }
  .post-new-php #presenterdiv #presenter-tabs,
  .post-new-php #presenterdiv #newpresenter_parent,
  .post-php #presenterdiv #presenter-tabs,
  .post-php #presenterdiv #newpresenter_parent {
    /* Parent */
    display: none; }
  .post-new-php #presenterdiv .categorydiv div.tabs-panel,
  .post-php #presenterdiv .categorydiv div.tabs-panel {
    border: none;
    padding: 0;
    background-color: transparent; }
  .post-new-php #presenterdiv .categorydiv div.tabs-panel #presenterchecklist,
  .post-php #presenterdiv .categorydiv div.tabs-panel #presenterchecklist {
    margin: 0; }
  .post-new-php .attachments-parent-container .attachments-handle,
  .post-php .attachments-parent-container .attachments-handle {
    display: none; }
  .post-new-php .attachments-parent-container .attachments-attachments,
  .post-php .attachments-parent-container .attachments-attachments {
    min-height: 30px; }
  .post-new-php .attachments-parent-container .attachments-container,
  .post-php .attachments-parent-container .attachments-container {
    padding: 0; }
  .post-new-php .attachments-parent-container .attachments-attachment,
  .post-php .attachments-parent-container .attachments-attachment {
    margin: 0;
    padding: 0; }
    .post-new-php .attachments-parent-container .attachments-attachment:last-of-type,
    .post-php .attachments-parent-container .attachments-attachment:last-of-type {
      margin: 0;
      padding: 0; }
    .post-new-php .attachments-parent-container .attachments-attachment .attachment-meta, .post-new-php .attachments-parent-container .attachments-attachment:first-of-type .attachment-meta,
    .post-php .attachments-parent-container .attachments-attachment .attachment-meta,
    .post-php .attachments-parent-container .attachments-attachment:first-of-type .attachment-meta {
      margin: 0;
      position: static; }
    .post-new-php .attachments-parent-container .attachments-attachment .attachment-meta,
    .post-php .attachments-parent-container .attachments-attachment .attachment-meta {
      width: auto;
      background: transparent;
      border: none; }
      .post-new-php .attachments-parent-container .attachments-attachment .attachment-meta .attachment-thumbnail,
      .post-php .attachments-parent-container .attachments-attachment .attachment-meta .attachment-thumbnail {
        width: auto;
        margin-right: 1.2em; }
      .post-new-php .attachments-parent-container .attachments-attachment .attachment-meta .attachment-details,
      .post-php .attachments-parent-container .attachments-attachment .attachment-meta .attachment-details {
        width: auto;
        float: none; }
        .post-new-php .attachments-parent-container .attachments-attachment .attachment-meta .attachment-details .filename,
        .post-php .attachments-parent-container .attachments-attachment .attachment-meta .attachment-details .filename {
          margin: 12px 0 4px;
          font-weight: normal; }
        .post-new-php .attachments-parent-container .attachments-attachment .attachment-meta .attachment-details .delete-attachment,
        .post-php .attachments-parent-container .attachments-attachment .attachment-meta .attachment-details .delete-attachment {
          float: left;
          padding-left: 1em; }

/*** META SLIDER ***/
.toplevel_page_metaslider #create_new_tab,
.toplevel_page_metaslider .slide .tabs,
.toplevel_page_metaslider #metaslider_configuration .inside,
.toplevel_page_metaslider #metaslider_usage,
.toplevel_page_metaslider #metaslider_social,
.toplevel_page_metaslider .delete-slider {
  display: none; }
.toplevel_page_metaslider #metaslider_configuration {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.75); }
  .toplevel_page_metaslider #metaslider_configuration #ms-preview {
    display: none; }
.toplevel_page_metaslider #poststuff #metaslider_configuration .configuration {
  padding: 0;
  float: none;
  overflow: hidden; }

/*# sourceMappingURL=admin.css.map */
